/* You can add custom CSS and extend Boostrap styles in this file. Remember, Bootstrap is just CSS at the end of the day! */
:root {
  --red: #cb3423;
  --white: #f8efea;
  --grey: #181818;
}

html {
  box-sizing: border-box;
}

.fixed {
  position: fixed;
  width: 100vw;
}

.relative {
  position: relative;
  top: 50px;
}


#hero-section {
  position: relative;
  background-image: url("images/night_sky4x_webp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  width: 100vw;
  height: 100vh;
}

#filter {
  background-color: rgba(0,0,0, .3);
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
#Jacob {
  position: absolute;
  background-image: linear-gradient(to left,rgba(0,0,0,0), rgba(10,10,10,1) 25vw);
  box-shadow: 20px;
  top: 0%;
  width: 80%;
  height: 100%;
  z-index: 2;
}

@media (max-width: 1000px) {
  #Jacob {
    background-image: linear-gradient(to left,rgba(10,10,10,1), rgba(10,10,10,1));
    width: 100vw;
  }
  #name-area {
    position: absolute;
    left: 3vw;
    top: 50%;
    margin-left: 0vw;
  }
}

#name-area {
  position: relative;
  width: 40vw;
  min-width: 600px;
  margin-left: 5vw;
  top: 28%;
}

#Description {
  position: absolute;
  top: 0px;
  z-index: 3;
}

.Inconsolata {
  font-family: 'Inconsolata';
}

.hello {
  font-size: clamp(33px, 5vw, 58.3px);
  
}
.first {
  margin-top: -50px;
  font-size: clamp(100px, 10vw, 175px);
  font-weight: 700;
  color: #54d2a4;
}

.comp-text {
  color: rgb(57, 57, 75);
  font-weight: 600;
}

.desc {
  font-size: clamp(16.5px, 2.5vw, 26.15px);
}
@keyframes vibe {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

