/* You can add custom CSS and extend Boostrap styles in this file. Remember, Bootstrap is just CSS at the end of the day! */
:root {
  --red: #cb3423;
  --white: #f8efea;
  --grey: #181818;
  --mint: #54d2a4;
  --navCrclWidth: 90vw;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  width: 100vw;
  margin: 0;
  background-color: black;
}
.fixed {
  position: fixed;
  width: 100vw;
}
.relative {
  position: relative;
  top: 50px;
}

#nav-bar {
  top: 0px;
  position: fixed;
  background-color: var(--mint);
  height: 75px;
  width: 100vw;
  z-index: 100;
}

#hero-section {
  overflow: hidden;
  position: relative;
  background-image: url("images/night_sky4x_webp.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  width: 100%;
  height: 100vh;
}

#filter {
  background-color: rgba(0,0,0, .3);
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
#Jacob {
  position: absolute;
  background-image: linear-gradient(to left,rgba(0,0,0,0), rgba(10,10,10,.9) 0%);
  box-shadow: 20px;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100%;
  z-index: 2;
}

@media (max-width: 800px) {
  body {
    min-width: fit-content;
  }
  #Jacob {
    background-image: linear-gradient(to left,rgba(10,10,10,.9), rgba(10,10,10,.9));
    width: 100vw;
  }
  #name-area {
    position: absolute;
    left: 3vw;
    top: 50%;
    margin-left: 0vw;
  }
  body #links-area {
    display: none;
  }
  body #links-area-small {
    display: flex;
  }
}

#name-area {
  position: relative;
  width: 100%;
  padding-left: 5vw;
  top: 10%;
}

#horizontal-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#links-area {
  position: relative;
  top: 18vh;
  display: flex;
  gap: 0vh;
  flex-direction: column;
  max-height: 800px;
}

#contact {
  position: relative;
  display: inline-block;
  width: 60%;
  transform: translate(-50%);
}

#github {
  position: relative;
  width: 60%;
  transform: translate(-25%);
}

#resume {
  position: relative;
  width: 60%;
}

#linkedin {
  position: relative;
  width: 60%;
  transform: translate(25%);
}

#links-area-small {
  position: relative;
  display: none;
  gap: clamp(50px, 5.5vw, 80px);
  flex-direction: row;
  flex-wrap: nowrap;
  width: clamp(100px, 10vw, 120px);
  margin-left: 12vw;
  top: 50vh;
}

#links-area-small i {
  font-size: 3rem;
  line-height: 1;
  color: var(--mint);
}

#up-arrow-button {
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  border: 0px solid rgba(0,0,0,0);
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
}

#up-arrow-button i {
  display: block;
  position: relative;
  border-radius: 50%;
  padding: .5rem;
  line-height: .5;
  font-size: 3rem;
  color: var(--mint);
  transition: background-color .2s, color .2s;
}

#up-arrow-button i:hover {
  background-color: var(--mint);
  color: black;
}

#tags {
  position: relative;
  top: 40vh;
}

#nav-circle {
  overflow: hidden;
  position: relative;
  width: var(--navCrclWidth);
  height: var(--navCrclWidth);
  max-height: 0vh;
  max-width: 100vh;
  border-radius: 50%;
  background-color: black;
  position: relative;
  background-image: linear-gradient(to left,rgba(0,0,0,0), rgba(10,10,10,.9) 0%), 
  url("images/night_sky4x_webp.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
}

#node-offset {
  height: calc(var(--navCrclWidth) / 12);
}

#circle-connector {
  border: none;
  background-color: none;
  animation: spin 100s linear infinite;
  z-index: 2;
}

#solar-system {
  border: 5px solid red;
  transform: translate(-50%, -50%) rotate3d(1,0,0,75deg);
  transform-style: preserve-3d;
  max-height: 100vh;
  max-width: 100vh;
  z-index: 1;
}

#solar-system * {
  transform-style: preserve-3d;
}

#sun {
  padding-bottom: 1.4vw;
  transform: translate(-50%, -50%) rotate3d(1,0,0,90deg);
  z-index: 3;
}

#sun i {
  font-size: 5vw;
  color: rgb(203, 203, 0);
}

#mercury {
  width: 10vw;
  height: 10vw;
  animation: spin 30s linear infinite;
  z-index: 2;
}

#mercury i {
  position: absolute;
  color: rgb(108, 108, 108);
  font-size: 1.5vw;
  top: 50%;
  left: -7.5%;
  animation: spin-y 30s linear infinite;
}

#venus {
  width: 15vw;
  height: 15vw;
  animation: spin 36s linear infinite;
}

#venus i {
  position: absolute;
  color: rgb(110, 255, 97);
  font-size: 1.8vw;
  top: 50%;
  left: -6.2%;
  animation: spin-y 36s linear infinite;
}

#earth {
  width: 20vw;
  height: 20vw;
  animation: spin 42s linear infinite;
}

#earth i {
  position: absolute;
  color: rgb(122, 122, 255);
  font-size: 1.9vw;
  top: 50%;
  left: -5.2%;
  animation: spin-y 42s linear infinite;
}

#mars {
  width: 25vw;
  height: 25vw;
  animation: spin 48s linear infinite;
}

#mars i {
  position: absolute;
  color: rgb(255, 55, 0);
  font-size: 2.1vw;
  top: 50%;
  left: -4.4%;
  animation: spin-y 48s linear infinite;
}

#jupiter {
  width: 33vw;
  height: 33vw;
  animation: spin 54s linear infinite;
}

#jupiter i {
  position: absolute;
  color: rgb(184, 141, 101);
  font-size: 4.2vw;
  top: 50%;
  left: -6.4%;
  animation: spin-y 54s linear infinite;
}

#saturn {
  width: 43vw;
  height: 43vw;
  animation: spin 60s linear infinite;
}

#saturn i {
  position: absolute;
  color: rgb(161, 165, 100);
  font-size: 3.4vw;
  top: 50%;
  left: -4%;
  transform: translateY(-50%) rotate3d(1,0,0,90deg);
  transform-style: preserve-3d;
  animation: spin-y 60s linear infinite;
}

#uranus {
  width: 50vw;
  height: 50vw;
  animation: spin 66s linear infinite;
}

#uranus i {
  position: absolute;
  color: rgb(0, 238, 255);
  font-size: 2.0vw;
  top: 50%;
  left: -2.25%;
  animation: spin-y 66s linear infinite;
}

#neptune {
  width: 55vw;
  height: 55vw;
  animation: spin 72s linear infinite;
}

#neptune i {
  position: absolute;
  color: blue;
  font-size: 2.0vw;
  top: 50%;
  left: -2.15%;
  animation: spin-y 72s linear infinite;
}

#ring-container {
  transform-style: preserve-3d;
}

#ring {
  left: 48.89%;
  width: 4.5vw;
  height: 4.5vw;
  border: 3px solid white;
  border-radius: 50%;
  transform: translate(-50%, -38%) rotate3d(1,0,0,90deg);
  z-index: 0;
}

.planet {
  margin: auto;
  border-radius: 50%;
  border: 1px dashed white;
  z-index: 2;
}

.planet-rotate {
  transform: translateY(-50%) rotate3d(1,0,0,90deg);
}


.nav-circle-inner {
  
  /*circle width times chosen factor (based of of 80vw to equal 68.5vw)*/
  width: calc(var(--navCrclWidth) * 0.85625);
  height: calc(var(--navCrclWidth) * 0.85625);
  margin: auto;
  border-radius: 50%;
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav-row {
  justify-content: space-evenly;
  height: calc(var(--navCrclWidth) / 6);
}
.Inconsolata {
  font-family: 'Inconsolata';
}

.hello {
  font-size: clamp(33px, 1.5vw + 2.5vh, 50.3px);
  
}
.first {
  margin-top: -50px;
  font-size: 120px;
  font-weight: 700;
  color: var(--mint);
}

.comp-text {
  color: rgb(57, 57, 75);
  font-weight: 600;
}

.desc {
  font-size: clamp(20px, min(2.5vw, 2.5vh), 26.15px);
}

.btn-link{
  cursor: pointer;
  padding: 40px 30% 20px 2%;
  max-height: 90px;
  max-width: 225px;
  text-decoration: none;
  border-radius: 10% / 30% 0%;
  border: none;
  background-color: rgba(255,255,255,.05);
  font-weight: 100;
  letter-spacing: .2vw;
  color: var(--mint);
}

.btn-link i {
  opacity: 0;
}

.btn-link-sm {
  width: 80px;  /* or any fixed size */
  height: 80px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 6px;
  border: 3px solid black;
  border-radius: 50%;  /* makes it a circle */
  background-color: rgba(255,255,255,.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container {
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.btn-link:hover {
  color: var(--mint);
  background-color: rgba(255,255,255,.2);
  letter-spacing: .5vw;
}

.btn-link:hover i {
  opacity: 1;
}

.btn-link-sm:hover {
  background-color: rgba(255,255,255,.2);
}

.btn-link-transitions {
  transition: letter-spacing .4s, background-color .2s;
  transition-timing-function: ease-out;
}

.inner {
  display: inline-flex; 
  align-items: center; 
  gap: 0.5em;
}

.inner i {
  transition: opacity .5s, font-size .5s;
  transform: translateY(-2%);
}

.circle {
  width: calc(var(--navCrclWidth) / 6);
  height: calc(var(--navCrclWidth) / 6);
  border-radius: 50%;
  background-color: var(--mint);
  z-index: 3;
}

.expand-animation {
  animation: expand .25s ease-out forwards;
}

.expand-animation-reverse {
  animation: reverse-expand .25s ease-out forwards;
}

@keyframes vibe {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin {
  0% {transform: translate(-50%, -50%), rotate(0deg);z-index: 1}
  80% {z-index: 4}
  100% {transform: translate(-50%, -50%) rotate(360deg);}
}

@keyframes spin-y {
  0% {transform: rotate3d(1,0,0,90deg) rotateY(0deg); z-index: 1}
  80% {z-index: 4}
  100% {transform: rotate3d(1,0,0,90deg) rotateY(-360deg);}
}

@keyframes sun-layer {
  0% {z-index: 1}
  25% {z-index: 4}
}

@keyframes expand {
  0% {max-height: 0vh;}
  100% {max-height: 100vh;}
}

@keyframes reverse-expand {
  0% {max-height: 100vh;}
  100% {max-height: 0vh;}
}
